:root{
    --primary: #4d7fc4;
    --primary-dark: #1f559f;
    --secondary: #00ff00;
    --primary-light: #7092c1;
    --font-primary: #ffffff;
    --font-secondary: #e17009;

}

.button {
    width: auto;
    max-width: 100px;
    height: 30px !default;
    padding: 2px 8px;
    margin: 0 5px;
    text-align: center;
    line-height: 30px;
    float:left;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    color: var(--font-primary);
    background-color: var(--primary);
    border: none;
}

.button:hover{
    background-color: var(--primary-light);
}

.active {
    background-color: var(--primary-dark);
}

.nav {
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: var(--primary-dark);
    top: 0;
}

[role="main"]{
    margin-top: 40px;
}

.vertical-center-nav{
    position: relative;
    top: 20px;
    transform: translateY(-50%);
}

[news]{
    width: 100%;
    height: 18px;
    background-color: green;
    text-align: center;
    display: block;
    color: var(--font-primary);
    font-weight: bold;
}

.overlay{
    position: absolute;
    display:none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ab;
}

.card {
    display: none;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) 4px 10px 14px 2px, rgba(0, 0, 0, 0.4) -3px 0px 14px 2px;
    padding: 40px 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 6px;
    text-align: center;
}

.active {
    display: block;
}